body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

h1 {
  color: #333;
}

div {
  background-color: #fff;
  padding: 0px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 100px);
}

button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #449d44;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}

li button {
  background-color: #d9534f;
  margin-left: 20px;
}

li button:hover {
  background-color: #c9302c;
}